{% extends 'index.html' %}
{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row" style="display: block;">
              <div class="clearfix"></div></br>
              <div class="col-md-10 col-sm-12">
                <!-- tag messages -->
                        {% if messages %}
                             {% for message in messages %}
                    <div class=" col-sm-8 alert-success" role="alert">
                      <h4 class="alert-heading" style="text-align: center;">{{ message }}</h4>
                    </div>
                   
                              {% endfor %}
                          {% endif %}

                <!-- endtag -->


                <div class="col-md-12 offset-md-11"><a href="{% url 'department-form' %}" class="btn btn-primary btn-primary">ADD</a></div>
                <div class="x_panel">
                  <div class="x_title" >
                    <strong><h2 style="font-weight: bold;">DEPARTMENT</h2></strong>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            
                            <th class="column-title">DEPARTMENT</th>
                            <th class="column-title">ACTION</th>
                            <!-- <th class="column-title">ACTION</th> -->
                            <!-- <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th> -->
                      
                          </tr>
                        </thead>
                        <tbody>
                                           
                    {% for department in departments %}
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">{{ department.name }}</td>     
                            <td> <a href="{% url 'delete' department.id %}" class="btn btn-danger">DELETE</a></td> 
                          </tr>
                    {% endfor %}
                        </tbody>
                      </table>
                      <!-- Navigation bar with Bootstrap classes -->
                        <nav aria-label="Page navigation ">
                            <ul class="pagination">

                      <!-- Previous page link -->
                                <li class="page-item {% if not departments.has_previous %}disabled{% endif %}">
                                   <a class="page-link" href="?page=1" aria-label="Previous">Previous</a>
                                </li>

                      <!-- Page links -->
                    {% for num in departments.paginator.page_range %}
                                <li class="page-item {% if num == departments.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                    {% endfor %}

                     <!-- Next page link -->
                                <li class="page-item {% if not departments.has_next %}disabled{% endif %}">
                                  <a class="page-link" href="?page={{ departments.paginator.num_pages }}" aria-label="Next">Next</a>
                                </li>
                            </ul>
                       </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}