{% extends 'index.html' %}
{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row" style="display: block;">
              <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title" >
                    <h2 >EMPLOYEE LIST</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">ID</th>
                            <th class="column-title">NAME</th>
                            <th class="column-title">DEPARTMENT</th>
                            <th class="column-title">ADDRESS</th>
                            <th class="column-title">hire_date</th>
                            <th class="column-title">ACTION</th>
                            <!-- <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th> -->
                      
                          </tr>
                        </thead>
                        <tbody>
                                           
                    {% for employee in employees %}
                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">{{ employee.id }}</td> 
                            <td class=" ">{{ employee.employee.username }}</td> 
                            <td class=" ">{{ employee.department.name }}</td> 
                            <td class=" ">{{ employee.address }}</td> 
                            <td class=" ">{{ employee.hire_date }}</td>     
                            <td> <a href="{% url 'record-emp' employee.id %}" class="btn btn-primary">VIEW</a>
                           <a href="{% url 'delete-emp' employee.employee.id %}" class="btn btn-danger">DELETE</a> </td>
                          </tr>
                     {% endfor %}
                        </tbody>
                      </table>

                        <!-- Navigation bar with Bootstrap classes -->
                        <nav aria-label="Page navigation ">
                          <ul class="pagination">

                    <!-- Previous page link -->
                              <li class="page-item {% if not departments.has_previous %}disabled{% endif %}">
                                 <a class="page-link" href="?page=1" aria-label="Previous">Previous</a>
                              </li>

                    <!-- Page links -->
                  {% for num in employees.paginator.page_range %}
                              <li class="page-item {% if num == employees.number %}active{% endif %}">
                                  <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                              </li>
                  {% endfor %}

                   <!-- Next page link -->
                              <li class="page-item {% if not employee.has_next %}disabled{% endif %}">
                                <a class="page-link" href="?page={{ employees.paginator.num_pages }}" aria-label="Next">Next</a>
                              </li>
                          </ul>
                     </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}